:root {
  --spacing-component-1: 4px;
  --spacing-component-2: 8px;
  --spacing-component-3: 12px;
  --spacing-component-4: 16px;
  --spacing-component-5: 20px;
  --spacing-component-6: 24px;
  --spacing-component-7: 28px;
  --spacing-component-8: 32px;
  --spacing-component-9: 36px;
  --spacing-component-10: 40px;

  --spacing-layout-1: 16px;
  --spacing-layout-2: 24px;
  --spacing-layout-3: 32px;
  --spacing-layout-4: 40px;
  --spacing-layout-5: 48px;
  --spacing-layout-6: 64px;
  --spacing-layout-7: 80px;
  --spacing-layout-8: 96px;
  --spacing-layout-9: 112px;
  --spacing-layout-10: 128px;

  --border-radius-1: 8px;
  --border-radius-2: 16px;
  --border-radius-3: 32px;
  --border-radius-4: 64px;

  --max-width: 1280px;
}
