:root {
  --font-family-base: "Inter", sans-serif;
  --font-family-heading: "Inter", sans-serif;

  --font-size-hero: 34px;
  --font-size-title: 30px;
  --font-size-subtitle: 24px;
  --font-size-body: 16px;
  --font-size-small: 14px;
  --font-size-button-small: 16px;
  --font-size-button-large: 20px;

  --line-height-hero: 1.2;
  --line-height-title: 1.1;
  --line-height-subtitle: 1.3;
  --line-height-body: 1.5;
  --line-height-small: 1.4;
  --line-heigh-button-small: 1.3;
  --line-heigh-button-large: 1.1;

  --font-weight-hero: 900;
  --font-weight-title: 800;
  --font-weight-subtitle: 600;
  --font-weight-body: 400;
  --font-weight-body-bold: 600;
  --font-weight-small: 400;
  --font-weight-button-small: 600;
  --font-weight-button-large: 700;
}
