@use "../../styles/tokens/breakpoints" as app-breakpoints;
@use "../../styles/mixins/text";

.hero {
  padding: var(--spacing-layout-2) var(--spacing-layout-2) 0 var(--spacing-layout-2);
}

.hero__image-welcome-text-container {
  @include text.hero;

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-component-8);
  justify-content: center;
}

.hero__image {
  border-radius: var(--border-radius-4);
  display: block;
  object-fit: fill;
}

.hero__welcome-text {
  margin: 0;
  > * {
    margin: 0;
  }

  border-top: 6px solid var(--primary);
  padding-top: var(--spacing-component-7);

  text-align: center;
}

.hero__introduction-text {
  @include text.body;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
  padding: 0 var(--spacing-layout-2);
}

.hero__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-component-2);
  justify-content: center;
  margin-top: var(--spacing-layout-3);
}

@include app-breakpoints.app-m {
  .hero__image-welcome-text-container {
    flex-direction: row;
    gap: var(--spacing-component-8);
    margin-top: 0;
    padding-top: var(--spacing-layout-3);
  }

  .hero__welcome-text {
    border-left: 6px solid var(--primary);
    border-top: 0;
    padding-top: 0;
    padding-left: var(--spacing-component-8);
    text-align: left;
  }

  .hero__actions {
    flex-direction: row;
    gap: var(--spacing-component-4);
    justify-content: center;
    margin-top: var(--spacing-layout-5);
  }
}
