@use "./app/styles/tokens/colors";
@use "./app/styles/tokens/spacing";
@use "./app/styles/tokens/typography";

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--basic-text);
  font-family: var(--font-family-base);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
